In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.ticker as ticker
import io
import glob

# Exploring Johns Hopkins COVID-19 US states data
* [csv files here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us)
* "COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University" or "JHU CSSE COVID-19 Data" for short, and the url: https://github.com/CSSEGISandData/COVID-19.
* Using Python, Pandas and Matplotlib as a tutorial for creating simple visualizations

## Get the Data
The `.csv` files can be found at this [url](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us). For our purposes, the files have been pulled down into the `/data` directory. They may not be up to date.

If you want to get the up to date files, you can simply clone [this repo](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data) and copy the files in the directory named `/csse_covid_19_data/csse_covid_19_daily_reports_us` into the `data` directory, replacing what is in there currently.

## Read in the Data

Use a magic command to check the contents of the `/data` directory

In [11]:
# ls data

<br>

### We'll start by reading in just one `.csv` file, using pandas

In [13]:
df_one_row = pd.read_csv('data/08-16-2020.csv')

You can type the variable name to get a display of the dataframe

In [14]:
df_one_row

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-08-17 04:30:23,32.3182,-86.9023,108433,1898,41523.0,65012.0,1.0,2211.480905,846424.0,12607.0,1.750390,84000001,USA,17262.738404,11.626534
1,Alaska,US,2020-08-17 04:30:23,61.3707,-152.4044,4259,28,1418.0,2813.0,2.0,582.192483,301515.0,NaN,0.657431,84000002,USA,41216.193126,NaN
2,American Samoa,US,2020-08-17 04:30:23,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1514.0,NaN,NaN,16,ASM,2721.015079,NaN
3,Arizona,US,2020-08-17 04:30:23,33.7298,-111.4312,193537,4506,27582.0,161449.0,4.0,2658.943877,1091974.0,20755.0,2.328237,84000004,USA,15002.286804,10.724048
4,Arkansas,US,2020-08-17 04:30:23,34.9697,-92.3731,52665,599,45572.0,6494.0,5.0,1745.143157,622050.0,3570.0,1.137378,84000005,USA,20612.670670,6.778696
5,California,US,2020-08-17 04:30:23,36.1162,-119.6816,623873,11243,NaN,612630.0,6.0,1578.936725,9798135.0,NaN,1.802130,84000006,USA,24797.731578,NaN
6,Colorado,US,2020-08-17 04:30:23,39.0598,-105.3111,53157,1896,5660.0,45601.0,8.0,923.067145,859734.0,6727.0,3.566793,84000008,USA,14929.213633,12.654965
7,Connecticut,US,2020-08-17 04:30:23,41.5978,-72.7554,50897,4453,8809.0,37635.0,9.0,1427.570908,937690.0,11015.0,8.749042,84000009,USA,26300.547473,21.641747
8,Delaware,US,2020-08-17 04:30:23,39.3185,-75.5071,16451,593,8671.0,7187.0,10.0,1689.423721,210385.0,NaN,3.604644,84000010,USA,21605.337638,NaN
9,Diamond Princess,US,2020-08-17 04:30:23,NaN,NaN,49,0,NaN,49.0,88888.0,NaN,NaN,NaN,0.000000,84088888,USA,NaN,NaN
10,District of Columbia,US,2020-08-17 04:30:23,38.8974,-77.0268,13220,597,10493.0,2130.0,11.0,1873.187210,242852.0,NaN,4.515885,84000011,USA,34410.534057,NaN
11,Florida,US,2020-08-17 04:30:23,27.7663,-81.6868,573416,9452,NaN,563964.0,12.0,2669.815726,4232628.0,34341.0,1.648367,84000012,USA,19707.048280,5.988846
12,Georgia,US,2020-08-17 04:30:23,33.0406,-83.6431,237030,4702,NaN,232328.0,13.0,2232.462623,2005273.0,22087.0,1.983715,84000013,USA,18886.626256,9.318230
13,Grand Princess,US,2020-08-17 04:30:23,NaN,NaN,103,3,NaN,100.0,99999.0,NaN,NaN,NaN,2.912621,84099999,USA,NaN,NaN
14,Guam,US,2020-08-17 04:30:23,13.4443,144.7937,502,5,345.0,152.0,66.0,305.670740,27773.0,NaN,0.996016,316,GUM,16911.142368,NaN
15,Hawaii,US,2020-08-17 04:30:23,21.0943,-157.4983,5042,40,1808.0,3194.0,15.0,356.105637,159299.0,279.0,0.793336,84000015,USA,11250.946413,5.533518
16,Idaho,US,2020-08-17 04:30:23,44.2405,-114.4788,27656,269,10616.0,16771.0,16.0,1547.565422,223222.0,1103.0,0.972664,84000016,USA,12490.983820,3.988285
17,Illinois,US,2020-08-17 04:30:23,40.3495,-88.9861,207412,7955,NaN,199457.0,17.0,1636.797111,3368183.0,NaN,3.835362,84000017,USA,26580.102418,NaN
18,Indiana,US,2020-08-17 04:30:23,39.8494,-86.2583,80415,3133,59801.0,17481.0,18.0,1194.479859,906851.0,9935.0,3.896039,84000018,USA,13470.313429,12.354660
19,Iowa,US,2020-08-17 04:30:23,42.0115,-93.2105,52447,975,40525.0,10947.0,19.0,1662.308602,551193.0,NaN,1.859020,84000019,USA,17470.071979,NaN
20,Kansas,US,2020-08-17 04:30:23,38.5266,-96.7265,33885,406,1399.0,32080.0,20.0,1163.108405,343043.0,2020.0,1.198170,84000020,USA,11775.009491,5.961340
21,Kentucky,US,2020-08-17 04:30:23,37.6681,-84.6701,38930,810,9091.0,29029.0,21.0,871.370846,712361.0,4193.0,2.080658,84000021,USA,15944.788260,10.770614
22,Louisiana,US,2020-08-17 04:30:23,31.1695,-91.8678,137918,4507,103512.0,29899.0,22.0,2966.747935,1658087.0,NaN,3.267884,84000022,USA,35667.035364,NaN
23,Maine,US,2020-08-17 04:30:23,44.6939,-69.3819,4168,127,3624.0,417.0,23.0,310.070138,210223.0,400.0,3.047025,84000023,USA,15639.125376,9.596929
24,Maryland,US,2020-08-17 04:30:23,39.0639,-76.8021,100212,3639,6004.0,90569.0,24.0,1657.580289,1142410.0,13614.0,3.631302,84000024,USA,18896.302815,13.585199
25,Massachusetts,US,2020-08-17 04:30:23,42.2302,-71.5301,123593,8838,100486.0,14269.0,25.0,1793.151196,1449968.0,12173.0,7.150890,84000025,USA,21036.886019,9.849263
26,Michigan,US,2020-08-17 04:30:23,43.3266,-84.5361,102259,6592,67778.0,27889.0,26.0,1023.935759,2321050.0,NaN,6.446376,84000026,USA,23241.045706,NaN
27,Minnesota,US,2020-08-17 04:30:23,45.6945,-93.9002,65152,1752,58196.0,5204.0,27.0,1155.252683,994054.0,5851.0,2.689096,84000027,USA,17626.221002,8.980538
28,Mississippi,US,2020-08-17 04:30:23,32.7416,-89.6787,72136,2084,49836.0,20216.0,28.0,2423.803378,520146.0,4916.0,2.888987,84000028,USA,17477.149162,6.814905
29,Missouri,US,2020-08-17 04:30:23,38.4561,-92.2884,68196,1383,NaN,66813.0,29.0,1111.149491,845618.0,NaN,2.027978,84000029,USA,13778.051653,NaN
30,Montana,US,2020-08-17 04:30:23,46.9219,-110.4544,5750,82,4145.0,1523.0,30.0,537.997601,201924.0,326.0,1.426087,84000030,USA,18892.978710,5.669565
31,Nebraska,US,2020-08-17 04:30:23,41.1254,-98.2681,30372,361,22251.0,7760.0,31.0,1570.092762,320876.0,1883.0,1.188595,84000031,USA,16587.813946,6.199789
32,Nevada,US,2020-08-17 04:30:23,38.3135,-117.0554,61305,1072,1423.0,58810.0,32.0,1990.321269,547463.0,NaN,1.748634,84000032,USA,17773.872492,NaN
33,New Hampshire,US,2020-08-17 04:30:23,43.4525,-71.5639,6988,423,6287.0,278.0,33.0,513.932740,184929.0,708.0,6.053234,84000033,USA,13600.610718,10.131654
34,New Jersey,US,2020-08-17 04:30:23,40.2989,-74.5210,187455,15912,33320.0,138223.0,34.0,2110.459245,2490186.0,22206.0,8.488437,84000034,USA,28035.720920,11.846043
35,New Mexico,US,2020-08-17 04:30:23,34.8405,-106.2485,23408,714,10391.0,12303.0,35.0,1116.352359,665291.0,2957.0,3.050239,84000035,USA,31728.433744,12.632433
36,New York,US,2020-08-17 04:30:23,42.1657,-74.9481,425508,32840,74154.0,318514.0,36.0,2187.301338,7068196.0,89995.0,7.717834,84000036,USA,36333.687185,21.150014
37,North Carolina,US,2020-08-17 04:30:23,35.6301,-79.8064,144952,2347,116969.0,25636.0,37.0,1382.063683,1924646.0,NaN,1.619157,84000037,USA,18350.787427,NaN
38,North Dakota,US,2020-08-17 04:30:23,47.5289,-99.7840,8587,125,7249.0,1213.0,38.0,1126.811204,179800.0,459.0,1.455689,84000038,USA,23593.880813,5.345289
39,Northern Mariana Islands,US,2020-08-17 04:30:23,15.0979,145.6739,50,2,29.0,19.0,69.0,90.671696,12302.0,4.0,4.000000,580,MNP,22308.864065,8.000000
40,Ohio,US,2020-08-17 04:30:23,40.3888,-82.7649,108287,3826,86926.0,17535.0,39.0,926.392964,1829645.0,12236.0,3.533203,84000039,USA,15652.573765,11.299602
41,Oklahoma,US,2020-08-17 04:30:23,35.5653,-96.9289,48342,661,40224.0,7457.0,40.0,1221.692047,754961.0,4013.0,1.367341,84000040,USA,19079.265428,8.301270
42,Oregon,US,2020-08-17 04:30:23,44.5720,-122.0709,23262,388,4355.0,18519.0,41.0,551.527988,488797.0,1863.0,1.667956,84000041,USA,11589.082012,8.008770
43,Pennsylvania,US,2020-08-17 04:30:23,40.5908,-77.2098,129070,7453,98323.0,23294.0,42.0,1008.202710,1456863.0,NaN,5.774386,84000042,USA,11379.973846,NaN
44,Puerto Rico,US,2020-08-17 04:30:23,18.2208,-66.5901,26006,335,NaN,25671.0,72.0,886.545615,331978.0,NaN,1.288164,630,PRI,11317.143745,NaN
45,Rhode Island,US,2020-08-17 04:30:23,41.6809,-71.5118,20335,1021,1953.0,17361.0,44.0,1919.553391,229865.0,2350.0,5.020900,84000044,USA,21698.457844,11.556430
46,South Carolina,US,2020-08-17 04:30:23,33.8569,-80.9450,106497,2269,42730.0,61498.0,45.0,2068.419415,867601.0,6852.0,2.130576,84000045,USA,16850.829159,6.433984
47,South Dakota,US,2020-08-17 04:30:23,44.2998,-99.4388,10274,153,8939.0,1182.0,46.0,1161.351436,128774.0,916.0,1.489196,84000046,USA,14556.343179,8.915710
48,Tennessee,US,2020-08-17 04:30:23,35.7478,-86.6923,133708,1366,92655.0,39687.0,47.0,1957.894176,1857340.0,5847.0,1.021629,84000047,USA,27197.139801,4.372962
49,Texas,US,2020-08-17 04:30:23,31.0545,-97.5635,555394,10396,399572.0,145426.0,48.0,1915.423780,4439041.0,NaN,1.871824,84000048,USA,15309.212367,NaN
50,Utah,US,2020-08-17 04:30:23,40.1500,-111.8624,46652,363,37701.0,8588.0,49.0,1455.165663,598527.0,2771.0,0.778102,84000049,USA,18669.209016,5.939724
51,Vermont,US,2020-08-17 04:30:23,44.0459,-72.7107,1515,58,1337.0,120.0,50.0,242.792742,111335.0,NaN,3.828383,84000050,USA,17842.461966,NaN
52,Virgin Islands,US,2020-08-17 04:30:23,18.3358,-64.8963,741,9,523.0,209.0,78.0,690.793154,12171.0,NaN,1.214575,850,VIR,11346.347466,NaN
53,Virginia,US,2020-08-17 04:30:23,37.7693,-78.1700,106687,2381,13783.0,90523.0,51.0,1249.918136,1353848.0,14967.0,2.231762,84000051,USA,15861.343639,14.028888
54,Washington,US,2020-08-17 04:30:23,47.4009,-121.4905,67461,1781,NaN,65680.0,53.0,885.908705,1016992.0,6230.0,2.640044,84000053,USA,13355.302563,9.234965
55,West Virginia,US,2020-08-17 04:30:23,38.4912,-80.9545,8567,160,6429.0,1978.0,54.0,478.029983,355339.0,NaN,1.867632,84000054,USA,19827.558788,NaN
56,Wisconsin,US,2020-08-17 04:30:23,44.2685,-89.6165,65741,1039,55982.0,8720.0,55.0,1129.098243,1130779.0,5304.0,1.580444,84000055,USA,19421.070295,8.068025
57,Wyoming,US,2020-08-17 04:30:23,42.7560,-107.3025,3286,30,2668.0,588.0,56.0,567.766549,60095.0,191.0,0.912964,84000056,USA,10383.423843,5.812538

Use the `.head()` method to see a certain number of rows from the dataframe

In [15]:
df_one_row.head(5)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-08-17 04:30:23,32.3182,-86.9023,108433,1898,41523.0,65012.0,1.0,2211.480905,846424.0,12607.0,1.750390,84000001,USA,17262.738404,11.626534
1,Alaska,US,2020-08-17 04:30:23,61.3707,-152.4044,4259,28,1418.0,2813.0,2.0,582.192483,301515.0,NaN,0.657431,84000002,USA,41216.193126,NaN
2,American Samoa,US,2020-08-17 04:30:23,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1514.0,NaN,NaN,16,ASM,2721.015079,NaN
3,Arizona,US,2020-08-17 04:30:23,33.7298,-111.4312,193537,4506,27582.0,161449.0,4.0,2658.943877,1091974.0,20755.0,2.328237,84000004,USA,15002.286804,10.724048
4,Arkansas,US,2020-08-17 04:30:23,34.9697,-92.3731,52665,599,45572.0,6494.0,5.0,1745.143157,622050.0,3570.0,1.137378,84000005,USA,20612.670670,6.778696

Notice that each `.csv` has a single entry for each date.

<br>

### Now, let's read in all the `.csv` files and append them to a single dataframe
Since we are assuming consistent columns across all csv files, we can use `glob` to get all files that have the same extension.

In [18]:
all_files = glob.glob('data/*.csv')

And we can iterate over the list of files, read each into its own dataframe and then concatenate all the dataframes into a single dataframe

In [21]:
df_list = []

for filename in all_files:
    df_one = pd.read_csv(filename, index_col=None, header=0)
    df_list.append(df_one)
    
df = pd.concat(df_list, axis=0, ignore_index=True)

In [22]:
df

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-06-08 03:33:42,32.3182,-86.9023,20500,692,11395.0,8413.0,1.0,418.095585,259566.0,2022.0,3.375610,84000001.0,USA,5293.824320,9.863415
1,Alaska,US,2020-06-08 03:33:42,61.3707,-152.4044,543,10,382.0,151.0,2.0,74.226466,64904.0,NaN,1.841621,84000002.0,USA,8872.181479,NaN
2,American Samoa,US,2020-06-08 03:33:42,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,174.0,NaN,NaN,16.0,ASM,312.719038,NaN
3,Arizona,US,2020-06-08 03:33:42,33.7298,-111.4312,26989,1051,5517.0,20421.0,4.0,370.793369,281621.0,3352.0,3.894179,84000004.0,USA,3869.102206,12.419875
4,Arkansas,US,2020-06-08 03:33:42,34.9697,-92.3731,9426,154,6424.0,2848.0,5.0,312.346329,160273.0,844.0,1.633779,84000005.0,USA,5310.914824,8.953957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7379,Washington,US,2020-04-25 06:32:46,47.4009,-121.4905,12977,722,NaN,12255.0,53.0,171.894387,160324.0,455.0,5.563690,84000053.0,USA,2123.664613,3.506203
7380,West Virginia,US,2020-04-25 06:32:46,38.4912,-80.9545,1010,32,439.0,978.0,54.0,76.341763,29811.0,97.0,3.168317,84000054.0,USA,2253.291388,9.603960
7381,Wisconsin,US,2020-04-25 06:32:46,44.2685,-89.6165,5356,263,NaN,5093.0,55.0,103.506165,59929.0,1353.0,4.910381,84000055.0,USA,1158.144318,25.261389
7382,Wyoming,US,2020-04-25 06:32:46,42.7560,-107.3025,473,7,321.0,466.0,56.0,95.125090,8045.0,54.0,1.479915,84000056.0,USA,1617.930979,11.416490
7383,Recovered,US,2020-04-25 06:32:46,NaN,NaN,0,0,99079.0,-99079.0,NaN,NaN,NaN,NaN,NaN,84070001.0,USA,NaN,NaN

**How many rows are in the dataframe?**

In [23]:
len(df)

7384

**What are the datatypes for the features in this dataframe?**

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7384 entries, 0 to 7383
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Province_State        7384 non-null   object
 1   Country_Region        7384 non-null   object
 2   Last_Update           7365 non-null   object
 3   Lat                   7112 non-null   float64
 4   Long_                 7112 non-null   float64
 5   Confirmed             7384 non-null   int64
 6   Deaths                7384 non-null   int64
 7   Recovered             5687 non-null   float64
 8   Active                7367 non-null   float64
 9   FIPS                  7365 non-null   float64
 10  Incident_Rate         7112 non-null   float64
 11  People_Tested         7112 non-null   float64
 12  People_Hospitalized   4722 non-null   float64
 13  Mortality_Rate        7239 non-null   float64
 14  UID                   7384 non-null   float64
 15  ISO3                  7384 non-null   object
 16  Testing_Rate          7112 non-null   float64
 17  Hospitalization_Rate  4722 non-null   float64
dtypes: float64(12), int64(2), object(4)
memory usage: 1.0+ MB

Note that there are null values in this dataframe. We don't yet know completely what those are, but we can see in the view of the dataframe above that there are `NaN` values, as well as a row with a state name of "Recovered"

In [25]:
df.shape

(7384, 18)

**What are the names of the features in our dataframe?**

In [26]:
cols = list(df.columns)
cols

['Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'FIPS',
 'Incident_Rate',
 'People_Tested',
 'People_Hospitalized',
 'Mortality_Rate',
 'UID',
 'ISO3',
 'Testing_Rate',
 'Hospitalization_Rate']

**How to get simple summary stats for a dataframe?**

In [27]:
df.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,Testing_Rate,Hospitalization_Rate
count,7112.000000,7112.000000,7384.000000,7384.000000,5687.000000,7367.000000,7365.000000,7112.000000,7.112000e+03,4722.000000,7239.000000,7.384000e+03,7112.000000,4722.000000
mean,36.840089,-85.206614,42929.668202,1886.046993,15715.890276,29185.785802,3263.131704,621.692892,4.925966e+05,5847.645489,3.805567,7.677976e+07,8090.353866,12.384791
std,10.790150,49.311679,79123.839218,4342.452374,29934.449445,65395.623381,17194.211148,571.718000,9.128971e+05,13582.722201,2.750242,2.355270e+07,6604.141044,5.278946
min,-14.271000,-170.132200,0.000000,0.000000,0.000000,-120720.000000,1.000000,0.000000,3.000000e+00,2.000000,0.000000,1.600000e+01,5.391708,1.418440
25%,34.594600,-101.165775,2913.750000,78.000000,953.000000,972.000000,18.000000,169.390910,6.097675e+04,528.500000,2.023230,8.400001e+07,2698.856242,8.568165
50%,39.061850,-87.944200,14308.000000,432.500000,4249.000000,7301.000000,32.000000,427.067957,1.915395e+05,1893.000000,3.477547,8.400003e+07,6489.556011,11.543521
75%,42.361650,-76.970625,46921.250000,1696.250000,18519.000000,24391.000000,48.000000,935.314881,5.328238e+05,5514.500000,4.962696,8.400004e+07,11837.956742,15.688110
max,61.370700,145.673900,623873.000000,32840.000000,399572.000000,612630.000000,99999.000000,2966.747935,9.798135e+06,89995.000000,70.370370,8.410000e+07,41216.193126,38.501190

Be careful how you interpret these values. Here they have no useful meaning, as we are including some rows that are not from a specific state. In addition, the values are in time series and from different states. Thus the simple summary statistics will not serve analysis at this point.

In [28]:
df.tail(10)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
7374,Texas,US,2020-04-25 06:32:46,31.0545,-97.5635,23642,624,9156.0,23018.0,48.0,102.860350,242547.0,1674.0,2.639371,84000048.0,USA,1055.260529,7.080619
7375,Utah,US,2020-04-25 06:32:46,40.1500,-111.8624,3782,39,1252.0,3743.0,49.0,131.966355,84697.0,315.0,1.031200,84000049.0,USA,2955.355454,8.328926
7376,Vermont,US,2020-04-25 06:32:46,44.0459,-72.7107,827,44,1710.0,783.0,50.0,135.442547,14310.0,32.0,5.320435,84000050.0,USA,2343.631007,3.869407
7377,Virgin Islands,US,2020-04-25 06:32:46,18.3358,-64.8963,54,3,50.0,51.0,78.0,50.341201,696.0,NaN,5.555556,850.0,VIR,648.842152,NaN
7378,Virginia,US,2020-04-25 06:32:46,37.7693,-78.1700,11594,411,1672.0,11183.0,51.0,146.625304,69440.0,1837.0,3.544937,84000051.0,USA,878.183637,15.844402
7379,Washington,US,2020-04-25 06:32:46,47.4009,-121.4905,12977,722,NaN,12255.0,53.0,171.894387,160324.0,455.0,5.563690,84000053.0,USA,2123.664613,3.506203
7380,West Virginia,US,2020-04-25 06:32:46,38.4912,-80.9545,1010,32,439.0,978.0,54.0,76.341763,29811.0,97.0,3.168317,84000054.0,USA,2253.291388,9.603960
7381,Wisconsin,US,2020-04-25 06:32:46,44.2685,-89.6165,5356,263,NaN,5093.0,55.0,103.506165,59929.0,1353.0,4.910381,84000055.0,USA,1158.144318,25.261389
7382,Wyoming,US,2020-04-25 06:32:46,42.7560,-107.3025,473,7,321.0,466.0,56.0,95.125090,8045.0,54.0,1.479915,84000056.0,USA,1617.930979,11.416490
7383,Recovered,US,2020-04-25 06:32:46,NaN,NaN,0,0,99079.0,-99079.0,NaN,NaN,NaN,NaN,NaN,84070001.0,USA,NaN,NaN

### df.to_excel()
Useful if you want to use google sheets or excel

In [29]:
# df.to_excel('output.xls')

<br>

## Notation Methods
For accessing columns by name

In [30]:
# dot notation
df.Province_State.head(5)

0           Alabama
1            Alaska
2    American Samoa
3           Arizona
4          Arkansas
Name: Province_State, dtype: object

In [32]:
# bracket notation
df['Province_State'].head(5)

0           Alabama
1            Alaska
2    American Samoa
3           Arizona
4          Arkansas
Name: Province_State, dtype: object

In [33]:
df['Province_State'].describe()

count     7384
unique      59
top       Ohio
freq       127
Name: Province_State, dtype: object

Note that the "top", or most frequent item here may match frequency with other items

In [34]:
df['Confirmed'].describe()

count      7384.000000
mean      42929.668202
std       79123.839218
min           0.000000
25%        2913.750000
50%       14308.000000
75%       46921.250000
max      623873.000000
Name: Confirmed, dtype: float64

Note this is still not very helpful

**What are all the states that have reported**

In [36]:
states_reported = df['Province_State'].unique()
print(len(states_reported))

59

In [37]:
for state in sorted(states_reported):
    print(state)

Alabama
Alaska
American Samoa
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
Diamond Princess
District of Columbia
Florida
Georgia
Grand Princess
Guam
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Northern Mariana Islands
Ohio
Oklahoma
Oregon
Pennsylvania
Puerto Rico
Recovered
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virgin Islands
Virginia
Washington
West Virginia
Wisconsin
Wyoming

<br>

## Slice Notation

In [38]:
df[5:15]

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
5,California,US,2020-06-08 03:33:42,36.1162,-119.6816,130615,4632,NaN,125983.0,6.0,330.568594,2362218.0,NaN,3.546300,84000006.0,USA,5978.448745,NaN
6,Colorado,US,2020-06-08 03:33:42,39.0598,-105.3111,27987,1527,4074.0,22386.0,8.0,485.992065,213014.0,4480.0,5.456105,84000008.0,USA,3698.971441,16.007432
7,Connecticut,US,2020-06-08 03:33:42,41.5978,-72.7554,43968,4071,7284.0,32613.0,9.0,1233.224703,302354.0,9669.0,9.259007,84000009.0,USA,8480.495399,21.990993
8,Delaware,US,2020-06-08 03:33:42,39.3185,-75.5071,9942,398,5792.0,3752.0,10.0,1020.986605,68997.0,NaN,4.003219,84000010.0,USA,7085.597742,NaN
9,Diamond Princess,US,2020-06-08 03:33:42,NaN,NaN,49,0,NaN,49.0,88888.0,NaN,NaN,NaN,0.000000,84088888.0,USA,NaN,NaN
10,District of Columbia,US,2020-06-08 03:33:42,38.8974,-77.0268,9332,489,1143.0,7700.0,11.0,1322.283135,54547.0,NaN,5.240034,84000011.0,USA,7728.951794,NaN
11,Florida,US,2020-06-08 03:33:42,27.7663,-81.6868,63938,2700,NaN,61238.0,12.0,297.694306,1216158.0,11215.0,4.222841,84000012.0,USA,5662.412199,17.540430
12,Georgia,US,2020-06-08 03:33:42,33.0406,-83.6431,51898,2180,NaN,49718.0,13.0,488.800343,539884.0,8685.0,4.200547,84000013.0,USA,5084.887359,16.734749
13,Grand Princess,US,2020-06-08 03:33:42,NaN,NaN,103,3,NaN,100.0,99999.0,NaN,NaN,NaN,2.912621,84099999.0,USA,NaN,NaN
14,Guam,US,2020-06-08 03:33:42,13.4443,144.7937,179,5,162.0,12.0,66.0,108.994148,7463.0,NaN,2.793296,316.0,GUM,4544.264411,NaN